<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sagar Khatri</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.ico" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- bootstrap css -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        #first-scroll:not(:disabled) {
            cursor: pointer;
            justify-content: center;
            display: flex;
            margin: auto;
            margin-top: 95%;
            border-radius: 20px;
        }


        .skills-wrapper {
            max-width: 100%;
            /* padding-bottom: 20px; */
        }

        .skills-data-container {
            margin-top: 50px;
            justify-content: space-around;
            flex-wrap: wrap;
            /* gap: 1rem; */
        }

        .skills-card {
            /* box-shadow: 0px 0px 5px var(--dimWhite); */
            /* border-radius: 50%;
          border-color: aqua; */
            display: flex;
            justify-content: center;


            /* padding: 1rem; */
        }

        .skills-card>img {
            /* background-color: var(--secondary-bg-color); */
            margin: 2rem;

        }

        @media (max-width: 1450px) {
            .skills-data-container {
                justify-content: safe;
                /* gap: 4rem; */
            }
        }

        @media (max-width: 850px) {
            .skills-data-container {
                justify-content: space-around;
                /* gap: 1rem; */
            }
        }

        .skillContent {
            width: 100%;
            transition: transform 1s;
        }

        .skillContent:hover {
            transform: translateZ(20px);
        }

        .skillcont {
            display: flex;
            justify-content: center;
        }

        .article {
            display: flex;
            /* width: 200%; */


        }

        .animationdiv {
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 350px;
            margin: auto;
            display: grid;
            place-items: center;
            transform: translateX(0);
            /* z-index: 1; */


        }

        .animationul {
            display: flex;
            width: 100%;
            animation: scroll 50s linear infinite;
            /* white-space: nowrap; */
            /* justify-content: space-between; */
        }

        .animationli {
            width: 250px;
            height: 250px;
            display: flex;
            align-items: center;
            padding: 15px;
            perspective: 100px;

        }



        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(calc(-250px*12));
            }
        }


        #id_name,
        #id_Email,
        #id_subject,
        #id_message {
            width: 100%;
        } 

        textarea#id_message {
            height: 100px;
            resize: none;
        }

     
    </style>


</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img alt="" class="img-fluid rounded-circle" src="{% static 'img/myAvatar.png' %}">
                <h1 class="text-light"><a href="index.html">Sagar Khatri</a></h1>
                <div class="social-links mt-3 text-center">

                    <a class="facebook" href="https://www.facebook.com/profile.php?id=100028540013776"><i
                            class="bx bxl-facebook"></i></a>
                    <a class="instagram" href="https://www.instagram.com/igsagar_/"><i class="bx bxl-instagram"></i></a>
                    <a class="google-plus" href="https://join.skype.com/invite/xb9XunKbx5Bv"><i
                            class="bx bxl-skype"></i></a>
                    <a class="linkedin" href="https://www.linkedin.com/in/sagar-khatri-ba1173132/"><i
                            class="bx bxl-linkedin"></i></a>
                    <a class="github" href="https://github.com/sagarkhatridk"><i class="bx bxl-github"></i></a>
                </div>
            </div>

            <nav class="nav-menu navbar" id="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero"><i class="bx bx-home"></i>
                            <span>Home</span></a>
                    </li>
                    <li><a class="nav-link scrollto" href="#about"><i class="bx bx-user"></i> <span>About</span></a>
                    </li>
                    <li><a class="nav-link scrollto" href="#resume"><i class="bx bx-file-blank"></i>
                            <span>Resume</span></a>
                    </li>
                    <li><a class="nav-link scrollto" href="#portfolio"><i class="bx bx-book-content"></i>
                            <span>Portfolio</span></a></li>
                    <li><a class="nav-link scrollto" href="#services"><i class="bx bx-server"></i>
                            <span>Services</span></a>
                    </li>
                    <li><a class="nav-link scrollto" href="#contact"><i class="bx bx-envelope"></i>
                            <span>Contact</span></a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section class="d-flex flex-column justify-content-center align-items-center" id="hero">
        <div class="hero-container" data-aos="fade-in">
            <h1>Sagar Khatri</h1>
            <p>I'm <span class="typed" data-typed-items="Developer, Freelancer"></span></p>
            <script>

                $(document).ready(function () {
                    $("#first-scroll").click(function () {
                        $('html, body').scrollTop($("#about").offset().top);
                    });
                });

            </script>
            <div class="container">
                <button class="btn btn-dark" id="first-scroll" onclick="scrollFunction1()" type="button">Scroll me
                </button>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section class="about" id="about">
            <div class="container">

                <div class="section-title">
                    <h2>About</h2>
                    <p>Passionate Python Developer with a track record of creating robust and scalable applications.
                        Eager
                        to
                        tackle complex challenges and contribute to cutting-edge projects that push the boundaries of
                        innovation</p>
                </div>

                <div class="row">
                    <div class="col-lg-4" data-aos="fade-right">
                        <img alt="" class="img-fluid" src="{% static 'img/myAvatar.png' %}">
                    </div>
                    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                        <h3>Python Developer.</h3>
                        <p class="fst-italic">
                            Seeking a skilled Python Developer to design, develop, and maintain high-performance
                            applications using
                            Python and cutting-edge technologies.
                        </p>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                                        <span>10 Oct 2000</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                        <span>+91 9737705289</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Ahmedabad,
                                            Gujarat, India</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>22</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.Tech |
                                            Informaion
                                            Technology</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                                        <span>sagarkhatri@outlook.in</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong>
                                        <span>Available</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p>Experienced web scraper proficient in extracting data from diverse sources to provide
                            valuable
                            insights
                            and support data-driven decision-making And also
                            As a Web Developer, you will be responsible for designing and implementing user-friendly,
                            responsive, and
                            visually appealing websites, utilizing your proficiency in front-end and back-end
                            technologies
                            to create
                            exceptional digital experiences for our clients and users.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->

        <!-- ======= Facts Section ======= -->
        <section class="facts" id="facts">
            <div class="container">

                <div class="section-title">
                    <h2>Facts</h2>
                    <p>Our service is the perfect blend of innovation and excellence, delivering exceptional solutions
                        tailored to
                        exceed your expectations and elevate your business to new heights.</p>
                </div>

                <div class="row no-gutters">

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                        <div class="count-box">
                            <i class="bi bi-emoji-smile"></i>
                            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="12"
                                data-purecounter-start="0"></span>
                            <p><strong>Happy Clients</strong></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="100">
                        <div class="count-box">
                            <i class="bi bi-journal-richtext"></i>
                            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="18"
                                data-purecounter-start="0"></span>
                            <p><strong>Projects</strong></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="count-box">
                            <i class="bi bi-headset"></i>
                            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="575"
                                data-purecounter-start="0"></span>
                            <p><strong>Hours Of Support</strong></p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up"
                        data-aos-delay="300">
                        <div class="count-box">
                            <i class="bi bi-people"></i>
                            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="25"
                                data-purecounter-start="0"></span>
                            <p><strong>Cup of Coffee</strong></p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->

        <!-- ======= Skills Section ======= -->
        <section class="skills section-bg" id="skills">
            <div class="container">

                <div class="section-title">
                    <h2>Skills</h2>
                    <p>C language | HTML | CSS | JavaScript | React JS | Bootstrap | Python | Restful-API (Node Js) |
                        Fast-API |
                        Web/App Scraping/Crawler | AWS lambda | MongoDB | SQL | Scrapy</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">HTML <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">CSS <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">JavaScript <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">Python <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Web Scraping <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">React JS <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" class="progress-bar"
                                    role="progressbar">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="scroll-container">
                <div class="animationdiv">
                    <ul class="animationul">
                        <div class="animationli"><img alt="HTML" class="skillContent"
                                src="{% static 'logos/html.png' %}">
                        </div>
                        <div class="animationli"><img alt="CSS" class="skillContent" src="{% static 'logos/css.png' %}">
                        </div>
                        <div class="animationli"><img alt="JavaScript" class="skillContent"
                                src="{% static 'logos/javascript.png' %}"></div>
                        <div class="animationli"><img alt="api" class="skillContent" src="{% static 'logos/api.png' %}">
                        </div>
                        <div class="animationli"><img alt="Python" class="skillContent"
                                src="{% static 'logos/python.png' %}"></div>
                        <div class="animationli"><img alt="nodejs" class="skillContent"
                                src="{% static 'logos/nodejs.png' %}"></div>
                        <div class="animationli"><img alt="reactjs" class="skillContent"
                                src="{% static 'logos/reactjs.png' %}"></div>
                        <div class="animationli"><img alt="MongoDB" class="skillContent"
                                src="{% static 'logos/mongodb.png' %}"></div>
                        <div class="animationli"><img alt="mysql" class="skillContent"
                                src="{% static 'logos/mysql.png' %}">
                        </div>
                        <div class="animationli"><img alt="git" class="skillContent" src="{% static 'logos/git.png' %}">
                        </div>
                        <div class="animationli"><img alt="bootstrap" class="skillContent"
                                src="{% static 'logos/bootstrap.png' %}"></div>
                        <div class="animationli"><img alt="awslambda" class="skillContent"
                                src="{% static 'logos/aws-lambda' %}.png"></div>
                        <div class="animationli"><img alt="HTML" class="skillContent"
                                src="{% static 'logos/html.png' %}">
                        </div>
                        <div class="animationli"><img alt="CSS" class="skillContent" src="{% static 'logos/css.png' %}">
                        </div>
                        <div class="animationli"><img alt="JavaScript" class="skillContent"
                                src="{% static 'logos/javascript.png' %}"></div>
                        <div class="animationli"><img alt="api" class="skillContent" src="{% static 'logos/api.png' %}">
                        </div>
                        <div class="animationli"><img alt="Python" class="skillContent"
                                src="{% static 'logos/python.png' %}"></div>
                        <div class="animationli"><img alt="nodejs" class="skillContent"
                                src="{% static 'logos/nodejs.png' %}"></div>
                        <div class="animationli"><img alt="reactjs" class="skillContent"
                                src="{% static 'logos/reactjs.png' %}"></div>
                        <div class="animationli"><img alt="MongoDB" class="skillContent"
                                src="{% static 'logos/mongodb.png' %}"></div>
                        <div class="animationli"><img alt="mysql" class="skillContent"
                                src="{% static 'logos/mysql.png' %}">
                        </div>
                        <div class="animationli"><img alt="git" class="skillContent" src="{% static 'logos/git.png' %}">
                        </div>
                        <div class="animationli"><img alt="bootstrap" class="skillContent"
                                src="{% static 'logos/bootstrap.png' %}"></div>
                        <div class="animationli"><img alt="awslambda" class="skillContent"
                                src="{% static 'logos/aws-lambda.png' %}"></div>
                    </ul>
                </div>
            </div>
        </section>


        </section><!-- End Skills Section -->

        <!-- ======= Resume Section ======= -->
        <section class="resume" id="resume">
            <div class="container">

                <div class="section-title">
                    <h2>Resume</h2>
                    <p>Experienced Python developer with a proven track record of designing and implementing efficient,
                        maintainable, and scalable solutions. Proficient in utilizing Python's full stack, libraries,
                        and
                        frameworks
                        to deliver high-quality software that meets client needs and exceeds expectations.</p>
                </div>

                <div class="row">
                    <div class="col-lg-6" data-aos="fade-up">
                        <h3 class="resume-title">Sumary</h3>
                        <div class="resume-item pb-0">
                            <h4>Sagar Khatri</h4>
                            <p><em>Seasoned web scraper with one year of hands-on experience in crafting robust and
                                    efficient scraping
                                    solutions. Proficient in utilizing various web scraping tools and techniques to
                                    gather and
                                    process
                                    data from diverse sources, ensuring accuracy and reliability for informed
                                    decision-making.</em></p>
                            <ul>
                                <li>Ahmedabad, Gujarat, India</li>
                                <li>+91 9737705289</li>
                                <li>sagarkhatri@outlook.in</li>
                            </ul>
                        </div>

                        <h3 class="resume-title">Education</h3>
                        <div class="resume-item">
                            <h4>Bachelor of Engineering</h4>
                            <h5>2018 - 2022</h5>
                            <p><em>Gujarat Technological University, Ahmedabad, Gujarat</em></p>
                            <p>Bachelor of Engineering in Information Technology with a solid foundation in computer
                                science
                                principles and a passion for solving complex technical challenges.</p>
                        </div>
                        <div class="resume-item">
                            <h4>Current - Past</h4>
                            <h5><b>Pursuing</b></h5>
                            <p><em>Ahmedabad, Gujarat</em></p>
                            <p>I am a certified Cloud Practitioner, certified by Udemy, with a comprehensive
                                understanding
                                of cloud
                                concepts and practices. My expertise extends to developing dynamic websites using
                                Bootstrap,
                                React.js,
                                and JavaScript. I have also successfully built APIs using Node.js, enabling efficient
                                data
                                communication. In addition, I have crafted live scraping crawlers using Python,
                                leveraging
                                AWS Lambda to
                                ensure their continuous operation across various endpoints. This multifaceted skill set
                                reflects my
                                ability to create integrated solutions that span diverse technologies and optimize
                                performance for a
                                range of applications.</p>
                        </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                        <h3 class="resume-title">Professional Experience</h3>
                        <div class="resume-item">
                            <h4>Python Developer</h4>
                            <h5>2022 - present</h5>
                            <p><em>Ahmedabad, Gujarat, India </em></p>
                            <ul>
                                <li>Proficient in web scraping techniques, leveraging data extraction to drive
                                    insightful
                                    decision-making and enhance project outcomes.
                                </li>
                                <li>Skilled in developing and integrating live APIs to deliver real-time data and
                                    seamless
                                    user
                                    experiences.
                                </li>
                                <li>Successfully scraped and extracted data from a wide range of ecommerce and diverse
                                    websites,
                                    yielding comprehensive insights.
                                </li>
                                <li>Proficient in leveraging Selenium for web scraping and automation, streamlining data
                                    extraction
                                    processes and enhancing efficiency. Experienced in developing scripts that navigate
                                    dynamic websites,
                                    ensuring accurate and up-to-date information retrieval.
                                </li>
                            </ul>
                        </div>
                        <div class="resume-item">
                            <h4>SSC - HSC</h4>
                            <h5>Education</h5>
                            <p><em>Ahmedabad, Gujarat</em></p>
                            <ul>
                                <li>High School Certificate with exceptional achievement, securing a commendable
                                    percentage.
                                </li>
                                <li>Completed SSCwith a notable percentile, showcasing level academic performance.</li>
                                <li>I completed my Higher Secondary Certificate (HSC) and Secondary School Certificate
                                    (SSC)
                                    under the
                                    Gujarat Board, where I gained a solid academic foundation and honed my skills for
                                    future
                                    endeavors.
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end my-5"><a download="Sagar Khatri Resume" href="/Sagar Resume.pdf">
                        <button class="btn btn-primary" type="button">Download Resume
                        </button>
                    </a></div>
            </div>
        </section><!-- End Resume Section -->

        <!-- ======= Portfolio Section ======= -->
        <section class="portfolio section-bg" id="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>A collection of my creative endeavors, showcasing my passion and expertise.</p>
                </div>

                <div class="row" data-aos="fade-up">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="portfolio-flters">
                            <li class="filter-active" data-filter="*">All</li>
                            <li data-filter=".filter-app">App</li>
                            <li data-filter=".filter-card">Card</li>
                            <li data-filter=".filter-web">Web</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/bootstrap_project.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/bootstrap_project.png' %}" title="App 1"><i
                                        class="bx bx-plus"></i></a>
                                <a href="https://sagarkhatridk.github.io/main/" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/costic_django.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/costic_django.png' %}" title="Web 3"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/fastapi.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/fastapi.png' %}" title="App 2"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/inotes_reactjs.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/inotes_reactjs.png' %}" title="Card 2"><i
                                        class="bx bx-plus"></i></a>
                                <a href="https://sagarkhatridk.github.io/inotebook/" target="_blank"
                                    title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/newsApp_react.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/newsApp_react.png' %}" title="Web 2"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/php_buspass.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/php_buspass.png' %}" title="App 3"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/portfolio.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/portfolio.png' %}" title="Card 1"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/busspass2.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/busspass2.png' %}" title="Card 3"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" target="_blank" title="More Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-wrap">
                            <img alt="" class="img-fluid" src="{% static 'projectImg/textutil_reactjs.png' %}">
                            <div class="portfolio-links">
                                <a class="portfolio-lightbox" data-gallery="portfolioGallery"
                                    href="{% static 'projectImg/textutil_reactjs.png' %}" title="Web 3"><i
                                        class="bx bx-plus"></i></a>
                                <a href="https://sagarkhatridk.github.io/textutils_js/" target="_blank" target="_blank"
                                    title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Section -->

        <!-- ======= Services Section ======= -->
        <section class="services" id="services">
            <div class="container">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>I specialize in offering a diverse range of services, including API development, web scraping,
                        crawling,
                        and full-stack development. With a deep understanding of modern technologies and a proven track
                        record, I am
                        committed to delivering seamless and innovative solutions that cater to unique project
                        requirements,
                        ensuring optimal functionality and user satisfaction.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-briefcase"></i></div>
                        <h4 class="title"><a href="">Node JS</a></h4>
                        <p class="description">Providing cutting-edge Node.js API services for streamlined data
                            connectivity
                            and
                            efficient backend functionality.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-card-checklist"></i></div>
                        <h4 class="title"><a href="">Scraping</a></h4>
                        <p class="description">Offering proficient Python-based web scraping services for data
                            extraction
                            and
                            informed decision-making.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-bar-chart"></i></div>
                        <h4 class="title"><a href="">Automation</a></h4>
                        <p class="description">Empowering efficiency through Selenium automation services for seamless
                            task
                            execution</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bi bi-binoculars"></i></div>
                        <h4 class="title"><a href="">React JS</a></h4>
                        <p class="description">Delivering dynamic and engaging web solutions through expert React.js
                            services.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bi bi-brightness-high"></i></div>
                        <h4 class="title"><a href="">APIs</a></h4>
                        <p class="description">Crafting secure and customizable Python RESTful API services, complete
                            with
                            essential
                            endpoints and authentication.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                        <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                        <h4 class="title"><a href="">Web development</a></h4>
                        <p class="description">Comprehensive Django services, from custom web application development to
                            robust
                            backend solutions, tailored to meet your project's specific needs.</p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Testimonials Section ======= -->
        <section class="testimonials section-bg" id="testimonials">
            <div class="container">

                <div class="section-title">
                    <h2>Testimonials</h2>
                    <b>
                        <h3>What Clients Says..</h3>
                    </b>
                </div>

                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    He exceeded our expectations with their scraping services. Their precision in data
                                    collection and
                                    prompt delivery have been instrumental in boosting our business strategies.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img alt="" class="testimonial-img"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                <h3>Saul Goodman</h3>
                                <h4>Full stack Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Exceptional API provided by Him. Seamless integration, lightning-fast responses, and
                                    well-structured
                                    documentation. A game-changer for our development process.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img alt="" class="testimonial-img"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                <h3>Bhavik Panchal</h3>
                                <h4>MERN stack Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Brilliant web development by Him. They turned our vision into a stunning reality
                                    with
                                    seamless
                                    functionality. A true partner in digital success.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img alt="" class="testimonial-img"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                <h3>Vrushabh Panchal</h3>
                                <h4>Flutter Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Impeccable React front-end work by Him. The user interface is sleek, interactive,
                                    and
                                    flawlessly
                                    responsive. Our users love the modern experience!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img alt="" class="testimonial-img"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                <h3>Meet Patel</h3>
                                <h4>PHP .Net Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Mindblown by his implementation of AWS Lambda. Our processes are now executed with
                                    unmatched
                                    efficiency, and the cost savings are incredible. A game-changing solution!
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img alt="" class="testimonial-img"
                                    src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
                                <h3>Sarthak Modi</h3>
                                <h4>Frontend Developer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->

        <!-- ======= Contact Section ======= -->
        <section class="contact" id="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Please use the following information to get in touch with us.</p>
                </div>

                <div class="row" data-aos="fade-in">

                    <div class="col-lg-5 d-flex align-items-stretch">
                        <div class="info">
                            <div class="address">
                                <a href="https://goo.gl/maps/tmHzshahdUmFRskx6"><i class="bi bi-geo-alt"></i></a>
                                <h4>Location:</h4>
                                <p>Ahmedabad, Gujarat</p>
                            </div>

                            <div class="email">
                                <a href="mailto:sagarkhatri@outlook.in"><i class="bi bi-envelope"></i></a>
                                <h4>Email:</h4>
                                <p>sagarkhatri@outlook.in</p>
                            </div>

                            <div class="phone">
                                <a href="tel:+91 9737705289"><i class="bi bi-phone"></i></a>
                                <h4>Call:</h4>
                                <p>+91 9737705289</p>
                            </div>

                            <iframe allowfullscreen frameborder="0"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14690.848358043339!2d72.65323786265544!3d22.997612369403644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e87cf76479217%3A0xbe50540453c71a8c!2sVastral%2C%20Ahmedabad%2C%20Gujarat%20380038!5e0!3m2!1sen!2sin!4v1691644486862!5m2!1sen!2sin"
                                style="border:0; width: 100%; height: 290px;"></iframe>
                        </div>

                    </div>

                    <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                        <form action="{% url 'home' %}" class="js-email-form" style="width:100%" method="post">
                            {% csrf_token %}
                            <div class="form-group" style="margin: 50px">
                                <label style="margin-right:5px">Name: </label>
                                {{form.name}}
                            </div>
                            <div class="form-group" style="margin: 50px">
                                <label style="margin-right:5px">Email: </label>
                                {{form.Email}}
                            </div>
                            <div class="form-group" style="margin: 50px">
                                <label style="margin-right:5px">Subject: </label>
                                {{form.subject}}
                            </div>
                            <div class="form-group" style="margin: 50px">
                                <label style="margin-right:5px">Message: </label>
                                {{form.message}}
                            </div>
                            <div class="text-center my-5">
                                <button class="btn btn-success" type="submit" id="submit_btn">Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section><!-- End Contact Section -->
    </main>

    <!-- End #main -->


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>sagarkhatri</span></strong>
            </div>
            <div class="credits">


            </div>
        </div>
    </footer><!-- End  Footer -->

    <a class="back-to-top d-flex align-items-center justify-content-center" href="#"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js'%}"></script>
    <script src="{% static 'vendor/aos/aos.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js'%}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js'%}"></script>
    <script src="{% static 'vendor/typed.js/typed.umd.js'%}"></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js'%}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>
    <script>

        $('#submit_btn').on('click', function (e) {
            e.preventDefault()
            var name = document.getElementById("id_name").value;
            var Email = document.getElementById("id_Email").value;
            var subject = document.getElementById("id_subject").value;
            var message = document.getElementById("id_message").value;
            if (name != '' && Email != '' && subject != '' && message != '') {
                swal("Thank you for contacting us!", "You data has been recieved!", "success");
                document.getElementById("id_name").value = ''
                document.getElementById("id_Email").value = ''
                document.getElementById("id_subject").value = ''
                document.getElementById("id_message").value = ''
            }
        })
    </script>


    <!-- Template Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'js/contact.js' %}"></script>


    <!-- bootstra js -->

    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>

</html>